
/* importing css files */

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
/*.main-content {
  margin-top : 7%;
}*/
.del-iocn{
    padding:3px 0px 5px 23px;
    font-size: 20px;
  }

.load-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
}

.load-image {
  position: relative;
  top: 40%;
  left: 40%;
  width: 10%;
}

.active-theme::before{
   content: "\f00c";
    font-family: FontAwesome;
    position: relative;
    background: #3F51B5;
    color: white;
    padding: 3px;
}
.selected-theme{
    border: 3px solid #3F51B5;
}

.carddemoBasicUsage .card-media {
  background-color: #999999; }

 .custom-circle{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: green;
    position: relative;
    top: 7px;
  }
  .custom-dot{
    font-size: 8px;color: #4A9DCE;margin: 1px;
  }
  .custom-buttton{
    border-radius: 20px;
    background: #F9F8F8;
    border: 1px solid #afafaf;
    margin-left: 20px !important;;
    padding: 0px;
    min-height: 26px !important;
    line-height: 26px;
    font-size: 12px;
    font-weight: 700;
    color: #6B6969;
    }

 .remove-height .md-errors-spacer{
  min-height: 0px;
}

/* Schedulers CSS */

.select-campaign {
  height: 35px;
  font-size: 14px;
}

.list-campaign {
  border: 1px solid #FFF;
  width: 100%;
}

.gridListdemoBasicUsage md-grid-list {
  margin: 8px; }
.gridListdemoBasicUsage .gray {
  background: #f5f5f5; }
.gridListdemoBasicUsage .green {
  background: #b9f6ca; }
.gridListdemoBasicUsage .yellow {
  background: #ffff8d; }
.gridListdemoBasicUsage .blue {
  background: #84ffff; }
.gridListdemoBasicUsage .purple {
  background: #b388ff; }
.gridListdemoBasicUsage .red {
  background: #ff8a80; }
.gridListdemoBasicUsage md-grid-tile {
  transition: all 400ms ease-out 50ms; }

  