<md-dialog aria-label="New Display" flex="90" style="max-height:90%;" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>New Display</h2>
                <!-- <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker> -->
                <span flex></span>
                <md-icon class="fa fa-times" ng-click="cancel()" class="del-icon"></md-icon>
            </div>
        </md-toolbar>
        <md-dialog-content layout-margin>
            <div class="md-dialog-content" style="margin-bottom: 20px;">
                <div layout="row">
                    <div flex="60">
                        <div layout="row">
                            <div flex="33">
                                <md-input-container class="md-block" md-no-float>
                                    <input md-no-float placeholder="Display name">
                                    <!-- <md-icon class="icon-margin-right"></md-icon> -->
                                </md-input-container>
                            </div>
                            <div flex="33">
                                <md-input-container class="md-block" md-no-float>
                                    <input md-no-float placeholder="Display Key">
                                    <!-- <md-icon class="icon-margin-right"></md-icon> -->
                                </md-input-container>
                            </div>
                            <div flex="33">
                                <md-input-container style="width:100%;">
          <md-select ng-model="display.userState" placeholder="Orientation" class="custom-select" >
            <md-option ng-repeat="state in states" value="{{state.abbrev}}">
              {{state.abbrev}}
            </md-option>
          </md-select>
    </md-input-container>
                            </div>
                        </div>
                        <div layout="row">
                            <div flex="33">
                                <md-input-container style="width:100%;">
          <md-select ng-model="display.userState" placeholder="Select Group" class="custom-select" >
            <md-option ng-repeat="state in states" value="{{state.abbrev}}">
              {{state.abbrev}}
            </md-option>
          </md-select>
    </md-input-container>
                            </div>
                            <div flex="33">
                                <md-input-container class="md-block" md-no-float>
                                    <input md-no-float placeholder="Latitude">
                                    <!-- <md-icon class="icon-margin-right"></md-icon> -->
                                </md-input-container>
                            </div>
                            <div flex="33">
                                <md-input-container class="md-block" md-no-float>
                                    <input md-no-float placeholder="Longitude">
                                    <!--  <md-icon class="icon-margin-right" md-font-icon="fa fa-calendar"></md-icon> -->
                                </md-input-container>
                            </div>
                        </div>
                    </div>
                    <div flex="40">
                    </div>
                </div>
                <div layout="row">
                    <div flex="20" flex-sm="100" flex-xs="100" layout="column" layout-wrap data-ng-repeat="item in items">
                        <md-card>
                            <!-- <img src="images/layout_1.png" class="md-card-image"></img> -->
                            <img ng-src={{"images/layout_"+item.imgNum+".png"}} class="md-card-image" style="width: 143px;
        height: 87px;" alt="image caption">
                        </md-card>
                    </div>
                </div>
                <!-- <div class="Layout" flex="50">mndbsjkdfsjkdfhksjd</div> -->
            </div>
        </md-dialog-content>
    </form>
    <md-footer style="background-color:#ccc" class="md-medium-tall">
        <div layout="row">
            <div flex="60">
                <md-button ng-click="cancel()">
                    <md-icon md-font-icon="fa fa-delete" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
            <div flex>
                <md-button ng-click="cancel()">
                    Cancel
                </md-button>
            </div>
            <div flex>
                <md-button ng-click="schedule()">
                    Create
                </md-button>
            </div>
        </div>
    </md-footer>
</md-dialog>
